{% extends 'ministry.html' %}
{% block title %}Baptism Ceremony{% endblock %}

{% block content %}
<h2 class="text-danger fw-bold mb-4">Baptism Ceremony</h2>
  <p class="fs-5">
    Baptism is a public declaration of faith in Jesus Christ and entrance into the family of God. At EMAW Church, we practice believer’s baptism by immersion, symbolizing the death to sin and resurrection to new life in Christ (Romans 6:4). Candidates meet with a pastor for pre-baptism instruction on its meaning and commitment. During the service, family and friends gather to rejoice as the baptized person is immersed and raised, signifying “newness of life.” We welcome all who have repented and placed their trust in Jesus as Lord and Savior to be baptized and join this covenant community.
  </p>

{% endblock %}