{% extends 'ministry.html' %}

{% block title %}Bible Institute{% endblock %}

{% block content %}
  <h2 class="text-danger fw-bold mb-4">Bible Institute</h2>

  <!-- Intro Section -->
  <div class="mb-5">
    <h4 class="text-primary fw-bold display-5 text-center mb-4">CRIO BIBLE COLLEGE</h4>
    <h5 class="fw-bold text-danger">Introduction</h5>
    <p>
     This is a two year part time ministry training program. It is designed to equip the trainees with bibilical mind, theological knowledge, Holistic mind and ministry skills to serve the lord effectively in todays world.
    </p>
    <p>
      The program will help the trainees for further studies. On completion of this two year program, the students will be awarded Diploma certificate in Biblical studies.
    </p>
    <p>
      For more information use the following link:
      <a href="https://criointernational.org/crio-bible-college" target="_blank">
        CRIO Bible College Website
      </a>
    </p>
  </div>

  <!-- Accreditation -->
  <div class="mb-5">
    <h5 class="fw-bold text-danger">Accreditation</h5>
    <p>
      CBC courses are accredited in the united states by our affiliated CRIO Bible College which offers Diploma in Biblical Studies founded by Dr. Ron Hesset.
    </p>
  </div>

  <!-- Training Centres -->
  <div class="mb-5">
    <h5 class="fw-bold text-danger">Training Centres</h5>
    <p>
      CRIO Bible College has established training centres in various regions to make the programs accessible to as many students as possible.
      These centres are staffed with qualified instructors and facilitators committed to your spiritual and academic growth.
    </p>
  </div>

  <!-- Enrollment -->
  <div class="mb-5">
    <h5 class="fw-bold text-danger">How to Enroll in CRIO BIBLE COLLEGE</h5>
    <p>
      Acquire an application form by writing to the college coordinator, through:    
    </p>
    <p>
      Email: <a href="mailto:emawkenya700@gmail.com">emawkenya700@gmail.com</a>
    </p>
    <p>
      Intake in progress. Apply now to enable us to be in a position to slot you in the next group.
    </p>
  </div>
</div>
{% endblock %}
