{% extends 'ministry.html' %}
{% block title %}Burial Service{% endblock %}

{% block content %}
<h2 class="text-danger fw-bold mb-4">Burial/Funeral Services</h2>
  <p class="fs-5">
    Burial (or funeral service) at EMAW Church provides a compassionate space to honor and commend our loved one to God’s care, offering comfort and hope in Christ’s resurrection (1 Thessalonians 4:13–18). We assist families in planning a service that includes Scripture readings, eulogies, hymns or worship songs, and a sermon focused on God’s promise of eternal life. Our pastoral team walks alongside grieving families before, during, and after the service—providing prayer, counseling, and practical support. We seek to point mourners to the comfort of Jesus, who “binds up the brokenhearted” (Psalm 147:3), and remind all of the hope we have in Him.
  </p>

{% endblock %}