{% extends 'ministry.html' %}
{% block title %}Holy Communion{% endblock %}

{% block content %}
<h2 class="text-danger fw-bold mb-4">Holy Communion (The Lord’s Supper)</h2>
  <p class="fs-5">
    Holy Communion (The Lord’s Supper) is a sacred ordinance instituted by Jesus to remember His death and look forward to His return (1 Corinthians 11:23–26). At EMAW Church, we observe Communion regularly, inviting all believers who have confessed faith in Christ to partake. Before the service, we often include a brief call to self-examination and repentance. During the elements, the pastor breaks the bread and lifts the cup, inviting the congregation to eat and drink in remembrance of Christ’s body and blood. This act unites us as the Body of Christ, renewing our covenant commitment and gratitude for His grace.
  </p>

{% endblock %}