{% extends 'ministry.html' %}

{% block title %}family therapy Ministry{% endblock %}

{% block content %}
  <h2 class="text-danger fw-bold mb-4">Family Therapy Ministry</h2>
  <p class="fw-bold fs-5">
    Weddings
  </p>
  <p class="fs-5">
     We believe that marriage is a divine covenant established by God. Our Wedding Ministry walks with couples as they prepare to begin their lifelong journey together. From premarital counseling to planning and officiating ceremonies, we provide spiritual guidance, biblical teaching, and emotional support. Our mission is to help couples build strong, Christ-centered marriages that reflect God’s love and purpose.
  </p>
  <p>
    "Therefore what God has joined together, let no one separate." — Mark 10:9
  </p>
  <p class="fw-bold fs-5">
    Guidance & Counseling
  </p>
  <p class="fs-5">
    Life brings seasons of joy, trials, and uncertainty—but you are never alone. Our Guidance & Counseling Ministry at EMAW Church offers a safe, confidential space for individuals, couples, and families to receive emotional and spiritual support. Whether you’re facing personal struggles, relationship challenges, or seeking direction, our trained Christian counselors are here to listen, pray with you, and walk with you toward healing and hope in Christ.
  </p>
  <p>
    "Plans fail for lack of counsel, but with many advisers they succeed." — Proverbs 15:22
  </p>
  <p>
    Reach us through +254720438243
  </p>

{% endblock %}
