{% extends 'ministry.html' %}

{% block title %}Music Ministry{% endblock %}

{% block content %}
  <h2 class="text-danger fw-bold mb-4">Music Ministry</h2>
  <p class="fw-bold fs-5">
    Praise and Worship
  </p>
  <p class="fs-5">
    Our Praise and Worship team leads the congregation in powerful, spirit-filled worship that ushers the presence of God. With heartfelt songs and genuine adoration, we aim to create an atmosphere where lives are touched and hearts are transformed.
  </p>
  <p class="fw-bold fs-5">
    Choir
  </p>
  <p class="fs-5">
    The EMAW Church Choir is a vibrant group of believers dedicated to ministering through song. With harmonies that inspire and lyrics that uplift, the choir serves during special services and major church events, glorifying God with excellence in music.
  </p>
  <p class="fw-bold fs-5">
    Instruments
  </p>
  <p class="fs-5">
    Our Instruments Team enhances the worship experience with skilled musical accompaniment. From keyboards to guitars, our instrumentalists play a key role in leading the church into dynamic and prophetic worship.
  </p>
  
{% endblock %}
