{% extends 'ministry.html' %}
{% block title %}Ordination Ceremony{% endblock %}

{% block content %}
<h2 class="text-danger fw-bold mb-4">Ordination Ceremony</h2>
  <p class="fs-5">
    Ordination is the church’s recognition and commissioning of individuals called and gifted by God for pastoral or ministerial leadership. At EMAW Church, ordination follows a season of proven service, spiritual maturity, and affirmation by church leadership and congregation. The candidate undergoes prayer, examination of doctrine, and affirmation of character. During the ordination service, the laying on of hands and prayer ask God’s anointing and empowerment for the specific ministry role—whether pastor, deacon, or ministry leader. This solemn ceremony underscores accountability, calling, and the responsibility to shepherd God’s people with integrity and love.
  </p>

{% endblock %}