{% extends 'ministry.html' %}

{% block title %}Pators Ministry{% endblock %}

{% block content %}
  <h2 class="text-danger fw-bold mb-4">Pastors Ministry</h2>
  <p class="fw-bold fs-5">
    Mentoring
  </p>
  <p class="fs-5">
    Senior pastors provide mentorship to emerging leaders within the church. This spiritual guidance shapes character, builds confidence, and ensures sound doctrine in leadership.
  </p>
  <p class="fw-bold fs-5">
    Training
  </p>
  <p class="fs-5">
    We offer in-depth pastoral training through workshops, conferences, and structured courses. These sessions equip current and upcoming pastors with knowledge, biblical insight, and leadership skills.
  </p>
  <p class="fw-bold fs-5">
    Commissions, Ordinations, and Consecration
  </p>
  <p class="fs-5">
    We formally recognize, commission, and ordain those called into pastoral and ministry leadership. These sacred ceremonies affirm God’s calling and prepare ministers for their service ahead.
  </p>
  <p class="fw-bold fs-5">
    Equipping
  </p>
  <p class="fs-5">
    Pastors are continually equipped with resources, support networks, and prayer to help them lead effectively, nurture the flock, and advance the Kingdom of God.
  </p>
{% endblock %}
