{% extends 'ministry.html' %}

{% block title %}Prison Ministry{% endblock %}

{% block content %}
  <h2 class="text-danger fw-bold mb-4">Prison Ministry</h2>
  <p class="fs-5">
    The Prison ministry is a Christ-centered outreach dedicated to serving the incarcerated population with love, dignity, and compassion.
  </p>
  <p class="fs-5">
    Grounded in the Word of God and driven by the Great Commission, this ministry recongnizes that every person - regardless of past mistakes - is created in the image of God and deserves hope, forgiveness, and a second chance. 
  </p>

{% endblock %}
