{% extends 'ministry.html' %}

{% block title %}Women Ministry{% endblock %}

{% block content %}
  <h2 class="text-danger fw-bold mb-4">Women Ministry</h2>
  <p class="fw-bold fs-5">
    Training
  </p>
  <p class="fs-5">
    We offer biblical and life skills training tailored for women of all ages. These programs empower women to be godly leaders, mothers, and influencers in their homes and communities.
  </p>
  <p class="fw-bold fs-5">
    National Conferences
  </p>
  <p class="fs-5">
    Our Women’s National Conferences unite ladies from all regions for a time of spiritual impartation, fellowship, and revival. These events feature powerful speakers, worship, and life-transforming sessions.
  </p>
  <p class="fw-bold fs-5">
    Entrepreneurship
  </p>
  <p class="fs-5">
    We encourage economic empowerment through entrepreneurship workshops. Women are equipped with business skills, mentorship, and support to start and grow businesses that honor God.
  </p>
  <p class="fw-bold fs-5">
    Retreats
  </p>
  <p class="fs-5">
    Women Ministry retreats provide a time of rest, reflection, and spiritual renewal. These special getaways help women reconnect with God and build deeper relationships with one another.
  </p>
{% endblock %}
