{% extends 'ministry.html' %}

{% block title %}Women Empowerment{% endblock %}

{% block content %}
  <h2 class="text-danger fw-bold mb-4">Women Empowerment Ministry</h2>
  <p class="fw-bold fs-5">
    Women Empowerment
  </p>
  <p class="fs-5">
    We began women empowerment program in the slums of kibera where we mentor and train Vulnerable women in business interpreneurship because we could no longer ignore the quiet strength and silent struggles of the women who live there, Some who are widows, HIV postive.
  </p>
  <p class="fs-5">
    Every day, they carry heavy burdens—poverty, fear, responsibility, and sacrifice—yet their dreams are often pushed aside and their voices unheard. We saw mothers choosing survival over self-belief, daughters growing up without hope, and capable women never given a chance to realize their worth.
  </p>
  <p class="fs-5">
    This initiative was born from the belief that no woman should feel invisible or powerless because of where she lives. When a woman is empowered, she doesn’t just change her own life—she lifts her family, inspires her children, and transforms her community.
  </p>
  <p class="fs-5">
    We began this journey to replace fear with confidence, silence with strength, and hardship with hope, we are trusting the lord to get some support to assist them from acommon pool  where we can assist them with start up capital to begin their small business to boost their lives.
  </p>

  <!-- Image section -->
  <div class="text-center mt-4">
    <img src="{{ url_for('static', filename='images/women.jpg') }}" 
        alt="women empowerment" 
        class="img-fluid rounded shadow">
  </div>
  
{% endblock %}
